@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;500;600&family=Questrial&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behavior: smooth;
}


:root,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Inter, sans-serif;
}

p {
    font-family: Montserrat, sans-serif;
}

span,
button,
input {
    font-family: Questrial, sans-serif;
}
